<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cliente_FFMPEG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="entorno" value="audiovisual" />
    <add key="lenguaje" value="es" />
    <add key="exportaciones" value="C:\LOGOS\ANANA\EXPORTS" />
    <add key="rutaMosca" value="C:\\LOGOS\\ASSETS\\mosca.png" />
    <add key="rutaMarca" value="C:\\LOGOS\\ASSETS\\watermark.png" />
    <add key="rutaFFMPEG" value="&quot;C:\LOGOS\FFMPEG\ffmpeg.exe&quot;" />
    <add key="rutaPROBE" value="&quot;C:\LOGOS\FFMPEG\ffprobe.exe&quot;" />
    <add key="rutaPLAY" value="&quot;C:\LOGOS\FFMPEG\ffplay.exe&quot;" />
    <add key="rutaEXIF" value="&quot;C:\LOGOS\EXIFTOOL\exiftool.exe&quot;" />
    <add key="rutaMEDIAINFO" value="&quot;C:\LOGOS\MEDIAINFO\MediaInfo.exe&quot;" />
    <add key="rutaTEMPORAL" value="C:\LOGOS\TRABAJOS\ANANA\" />
    <add key="motorVideo" value="NVENC" />
    <add key="fpsExports" value="25" />
    <add key="trabajosConcurrentes" value="1" />
    <!--- Los posible valores del mtoro de video son NVENC, AMDAVC, INTELQS, x264 -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>