<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cliente_FFMPEG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="entorno" value="audiovisual" />
    <add key="exportaciones" value="C:\DMAOPS\ANANA\EXPORTS" />
    <add key="rutaFFMPEG" value="&quot;C:\DMAOPS\FFMPEG\ffmpeg.exe&quot;" />
    <add key="rutaPROBE" value="&quot;C:\DMAOPS\FFMPEG\ffprobe.exe&quot;" />
    <add key="rutaPLAY" value="&quot;C:\DMAOPS\FFMPEG\ffplay.exe&quot;" />
    <add key="rutaEXIF" value="&quot;C:\DMAOPS\EXIFTOOL\exiftool.exe&quot;" />
    <add key="rutaTEMPORAL" value="C:\DMAOPS\TRABAJOS\ANANA\" />
    <add key="motorVideo" value="NVENC" />
    <add key="trabajosConcurrentes" value="1" />
    <!--- Los posible valores del mtoro de video son NVENC, AMDAVC, INTELQS, x264 -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>